.img-fluid {
  max-width: 200px;
  max-height: 200px;
  border-radius:50%;
}

.service-container {
  padding-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.service-images {
  display: flex;
  flex-wrap: wrap;
}

.service-content {
  width: 25%;
}

img {
  border-radius: 50%;
}

.col-lg-8 {
  margin:0 auto;
}
