.img-fluid {
  max-width: 200px;
  max-height: 200px;
  border-radius:50%;
}

.services {
  text-decoration: none;
  color: black ;
}

.service-new {
  padding-top: 200px;
}

.service-container {
  padding-top: 30px;
  padding-bottom: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.service-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-content {
  width: 25%;
}

img {
  border-radius: 50%;
}

.col-lg-8 {
  margin:0 auto;
}

.opaline {
  padding: 40px 40px;
  background-color: rgba(128, 215, 247, 0.660);
}

.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}

.container-fluid {
  width:100%;
}

.card-img {
  object-fit: cover;
  height:650px;
}

.justify-content-end{
  padding-top:50px;
}

.opaline .boxes {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 5px;
  border: 1px solid #FFF;
}

h3 {
  font-family:"Hannari";
}

h5 {
  font-family:"Hannari";
}

p {
  font-family:"Hannari";
}

.service-btn {
  margin-top:15px;
  text-align: center;
}

.service-introduce a {
  text-decoration: none;
  color: black;
}

.service-introduce {
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}
.service-introduce:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}